nav{
    width: 100%;
}

.container{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    
}
.rent{
    background-color: brown;
}

.jumbotron-fluid{
    background:url(../img/africa.webp);
    background-repeat: no-repeat repeat;
    background-position: relative;
    background-size: cover;
    width: 100%;
    overflow: hidden;

    
}
.col-sm-12{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: 20px;
}
button{
    padding: 8px 7px;
    border-radius: 5px;
    background-color: lightblue;
}


/* .col-sm-3{
    box-shadow: 10px solid white;
    border-radius: 12px;
    padding: 22px;
    border: 2px solid black;
    
} */